.task-section{
    background: #b087ff1a;
    border-radius: 7px;
    border: 1px solid #b087ff6b;
    margin: 0 0 30px;
}
.container{
    border-radius: 7px;
    padding: 10px;
    display: flex;
}
.task-section__name{
    border-bottom: 1px solid #b087ff6b;
    padding: 10px 0;
    margin-bottom: 5px;
    font-size: 1.5em;
}
.task-section .task-section__name{
    margin-bottom: 25px;
}
.task-section__species{
    margin-bottom: 25px;
}
.task-section .task-section__species{
    display: none;
}
.task-section__img{
    width: 200px;
    margin-right: 20px;
    border-radius: 7px;
    overflow: hidden;
}
.task-section .task-section__img{
    background: url(./bird.jpg) no-repeat center center;
    background-size: cover;
    min-height: 130px;
}
.task-section__img img{
    width:100%;
    height:auto;
    border-radius: 7px;
}
.task-section__player{
    width:calc(100% - 220px);
    padding: 0 30px 0 15px;
    box-sizing: border-box;
}
.position-bar {
    height: 5px;
    color: white;
    font-weight: bold;
    background: #b087ff;
    text-align: right;
    width:0;
    border-radius: 5px;
 }
 
 .position-bar span {
    display: inline-block;
    background:#f6d299;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    vertical-align: top;
    margin-top: -7px;
 }
 
 .duration-bar {
    background: #f6d299;
    width: 100%;
    border-radius: 5px;
 }
 .player-controls button{
     background: url(./buttons.png) no-repeat center center;
     width: 43px;
     height: 43px;
     background-size: auto 100%;
     border-radius: 50%;
     cursor: pointer;
 }
 .player-controls button:hover{
    width: 45px;
    height: 45px;
 }

 .player-controls button.pause{
    background-position: 67% center;
    display: none;
}
.task-section__audio{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.player-controls{
    width: 55px;
}
.player-container{
    width: calc(100% - 55px);
}
.play-status{
    margin-left: 55px;
    font-size: 15px;
    margin-top: -10px;
}

@media (max-width: 700px) {
    .container {
        flex-wrap: wrap;
    }
    .task-section__img {
        margin: 0 auto;
    }
    .task-section__player {
        width: 100%;
        margin-bottom: 20px;
    }
}